<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="../template/template.css" type="text/css">
    <link rel="icon" href="favicon.ico">
    <title>Jeremy's Website</title>
</head>
<body>
    <div id="side">
      <a href="../index.html">home</a>
      <br>
      <a href="../about.html">about</a>
      <br>
      <a href="stories.html">stories</a>
    </div>
    <div id="main">
        <h4>Last Updated 2024-04-02</h4>
        <fieldset>
            <legend>TEMPLATE REPLACE THIS</legend>
            <p>kind of like this</p>
        </fieldset>
    </div>
</body>
